---
layout: layouts/base.njk
permalink: /mk/blog/index.html
lang: mk
tags: fixedPage
fixedPageId: blog
blogStyles: true
metaTitle: Блог за Webflow и веб-развој | Igor Mihajlovski
metaDescription: Статии за Webflow, веб-развој, CMS архитектура, интеграции, автоматизација и искуства од реални проекти.
canonicalUrl: https://igormihajlovski.com/mk/blog/
ogType: website
---
{% include "includes/blog-listing.njk" %}
