---
layout: layouts/base.njk
permalink: /mk/projects/index.html
lang: mk
tags: fixedPage
fixedPageId: projects
metaTitle: Студии на случај за Webflow | Igor Mihajlovski
metaDescription: Погледнете Webflow студии на случај од Igor Mihajlovski, со цели, процес, технологии, интеграции и резултати од проектите.
canonicalUrl: https://igormihajlovski.com/mk/projects/
ogType: website
---
{% include "includes/projects-listing.njk" %}
