<!doctype html>
<html lang="{{ lang | htmlLang }}" data-wf-page="697e45e07d51cf8c3766dea6" data-wf-site="697e45df7d51cf8c3766ddee">
  <head>
    {% include "includes/head.njk" %}
  </head>
  <body{% if not homePage %} class="case-study-site"{% endif %}>
    {% include "includes/header.njk" %}
    {% if homePage %}{{ content | safe }}{% else %}<main>{{ content | safe }}</main>{% endif %}
    {% include "includes/footer.njk" %}
    {% include "includes/scripts.njk" %}
  </body>
</html>
