---
layout: layouts/base.njk
permalink: /de/blog/index.html
lang: de
tags: fixedPage
fixedPageId: blog
blogStyles: true
metaTitle: Webflow- & Webentwicklungs-Blog | Igor Mihajlovski
metaDescription: Deutschsprachige Einblicke zu Webflow, Webentwicklung, CMS-Architektur, Integrationen, Automatisierung und Erfahrungen aus echten Projekten.
canonicalUrl: https://igormihajlovski.com/de/blog/
ogType: website
---
{% include "includes/blog-listing.njk" %}
