<a href="https://wa.me/38970265014" target="_blank" rel="noopener noreferrer" class="whatsapp w-inline-block" aria-label="Contact Igor Mihajlovski on WhatsApp">
  <img src="/images/whatsapp.svg" loading="lazy" alt="" class="whatsapp-icon" />
</a>
<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
  <div class="container nav-container">
    <div class="inner-nav">
      <a href="/" class="brand w-nav-brand">
        <img src="/images/Logo-Igor-Mihajlovski-Portfolio-Brend.svg" loading="eager" alt="Igor Mihajlovski – Webflow Developer" height="48" class="logo-mobile" />
      </a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="/#hero" class="nav-link w-nav-link">Home</a>
        <a href="/#about-me" class="nav-link w-nav-link">About Me</a>
        <a href="/blog/" class="nav-link w-nav-link">Portfolio</a>
        <a href="/#services" class="nav-link w-nav-link">Services</a>
        <a href="/#contact" class="nav-btn w-nav-link">Contact Me</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="hamburger-wrapper">
          <div class="top-line"></div>
          <div class="middle-line"></div>
          <div class="bottom-line"></div>
        </div>
      </div>
    </div>
  </div>
</div>
