---
layout: layouts/base.njk
permalink: /de/projects/index.html
lang: de
tags: fixedPage
fixedPageId: projects
metaTitle: Webflow-Fallstudien | Igor Mihajlovski
metaDescription: Entdecke Webflow-Fallstudien von Igor Mihajlovski mit Einblicken in Projektziele, Umsetzung, Technologien, Integrationen und Ergebnisse.
canonicalUrl: https://igormihajlovski.com/de/projects/
ogType: website
---
{% include "includes/projects-listing.njk" %}
